@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

/* univeral call*/

* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


h1 {
  text-align: center;
}

h2 {
  color: whitesmoke;
}

p {
  line-height: 1.5em;
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
}

a {
  text-decoration: none;
  margin-left: 4px;
}

/*top flexbox edits*/

.wrap {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/assets/images/one-piece-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.card {
  height: 600px;
  width: 550px;
  background-color: rgb(235, 235, 235);
}

.card-content {
  padding: 10px;
}

.span {
  height: 150px;
  align-items: center;
}

/* timer */

.timer {
  background: gold;
  padding: 10px;
  font-size: 20px;
  border-radius: 0.25rem;
  font-family: "Mochiy Pop One", sans-serif;
}

.timer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#time {
  background-color: rgb(22, 21, 21);
  color: gold;
  padding: 0 20px;
}

.logo-cont {
  display: flex;
  justify-content: center;
  height: 150px;
}


.scores {
  font-size: 25px;
  align-self: flex-end;
  background: gold;
  display: flex;
  padding: 15px 50px;
  font-weight: bolder;
  color: rgb(22, 21, 21);
  border-radius: 4px;
}

.view-score-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-score {
  background: gold;
  color: #212529;
  width: 250px;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.25rem;
  text-decoration: none;
  font-family: "Mochiy Pop One", sans-serif;
  text-align: center;
  outline: none;
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0 red;
}

.view-score:hover {
  color: #fff;
  box-shadow: inset 205px 0 0 0 red;
}

@media screen and (max-width: 768px) {
  .timer-wrap {
    align-items: center;
  }

  .timer {
    width: 250px;
  }
}

@media screen and (max-width: 578px) {
  .header {
    padding: 30px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    padding: 5px;
  }

  .logo-cont {
    height: auto;
  }
}

/*hides all "hide" classes*/
.hide {
  display: none;
}

.start-info {
  display: flex;
  flex-direction: column;
}

#optitle {
  font-size: 40px;
  font-weight: 300;
  margin: 10px;
  font-family: "Mochiy Pop One", sans-serif;
}

/*instructions*/
#quiz-instructions {
  font-size: 20px;
  margin-bottom: 10px;
  color: #212529;
}

/*start button*/

.start {
  position: relative;
}

.btn {
  background: none;
  border: 2px solid #000;
  text-transform: uppercase;
  padding: 12px 20px;
  min-width: 200px;
  margin: 10px;
  cursor: pointer;
}

.btn-1 {
  box-shadow: inset 0 0 0 0 red;
  transition: ease-out 0.3s;
  font-size: 20px;
  font-family: "Mochiy Pop One", sans-serif;
  outline: none;
}

.btn-1:hover {
  box-shadow: inset 200px 0 0 0 red;
  color: #fff;
}

.start-btn {
  display: flex;
  justify-content: center;
}

.start-area {
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* question section */

#questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  position: absolute;
}

#question-title {
  font-size: 30px;
  margin-bottom: 10px;
  color: #000;
  text-align: center;
}

.choices {
  display: flex;
  flex-direction: column;
}

.choices button {
  background: red;
  border: none;
  margin: 10px;
  width: 250px;
  height: 30px;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  box-shadow: inset 0 0 0 0 gold;
  transition: ease-out 0.3s;
}

.choices button:hover {
  box-shadow: inset 250px 0 0 0 gold;
  text-shadow: 4px 4px 8px rgb(68, 67, 67);
}

/* end screen */

#end-screen p {
  color: black;
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 17px;
}

#end-screen h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 15px;
  color: black;
  font-family: "Mochiy Pop One", sans-serif;
}

#final-score {
  font-size: 25px;
  font-weight: bold;
  color: gold;
}

#initials {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
}

#submit {
  background-color: red;
  font-size: 17px;
  border: none;
  width: 80px;
  margin-top: 10px;
  color: whitesmoke;
  height: 30px;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 0 gold;
  transition: ease-out 0.3s;
}

#submit:hover {
  box-shadow: inset 80px 0 0 0 gold;
  color: #212529;
}

.restart {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
}

.restart button {
  width: 200px;
  border-radius: 0.25rem;
  font-size: 18px;
  font-family: "Mochiy Pop One", sans-serif;
  box-shadow: inset 0 0 0 0 red;
  transition: ease-out 0.3s;
}

.restart button:hover {
  box-shadow: inset 200px 0 0 0 red;
  color: #fff;
}
