/* univeral call*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

body {
    background-color: #212529;
}

.background {
    height: 100vh;
}

:root {
    background-color: #212529;
}


h1 {
    color: whitesmoke;
    text-align: center;
}

h2 {
    color: whitesmoke;
}

p {
    line-height: 1.5em;
    text-align: center;   
    color: whitesmoke;
    font-size: 20px;
}

a {
    text-decoration: none;
    margin-left: 4px;
    
    
}

/*top flexbox edits*/

.header-wrap {
    display: flex;
    justify-content: center;
    
}

.span{
    height: 150px;
    align-items: center;
    
    
}

.timer {
    background: gold;
    padding: 10px;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 10px;
    
    
}

.timer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#time {
    background-color: rgb(22, 21, 21);
    color: gold;
    padding: 0 20px;
    
}

.logo-cont {
    display: flex;
    justify-content: center;
}

#logo {
    width: 350px;
    height: 120px;
    
    
}

.scores {
    font-size: 25px;
    align-self: flex-end;
    background: gold ;
    display: flex;
    padding: 15px 50px;
    font-weight: bolder;
    color: rgb(22, 21, 21);
    border-radius: 4px;
    
}

.view-score-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}



.view-score {
    background: gold;
    color: #212529;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.view-score:hover {
    color: #212529;
    margin-left: 5px;
    box-shadow: #fff 2px 2px 15px;
}


/*hides all "hide" classes*/
.hide {
    display: none;
}




#optitle {
    font-size: 50px;
    margin: 10px;

}

/*instructions*/
#quiz-instructions {
    font-size: 20px;
    margin-bottom: 10px;
    
    
}

/*start button*/
#start {
    font-size: 20px;
    width: 170px;
    height: 40px;
    margin-top: 20px;
    background: rgb(236, 7, 7);
    color: whitesmoke;
    border: none;
    border-radius: 10px;
}

.start-info {
    display: flex;
    flex-direction: column;
    
    
}

.start-btn {
    display: flex;
    justify-content: center;
    
}

#start:hover {
    cursor: pointer;
    box-shadow: 0 0 12px rgb(202, 52, 52);
    margin-right: 10px;
}

.start-area {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



#questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}



#question-title { 
    font-size: 30px;
    max-width: 550px;
    margin-bottom: 40px;
    text-align: center;
}

.choices {
    display: flex;
    flex-direction: column;   
    
}

.choices button {
    background-color: red;
    border: none;
    margin: 10px;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
}

.choices button:hover {
    cursor: pointer;
    box-shadow: 0 0 12px rgb(202, 52, 52);
    
}



#end-screen h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 15px;
}



#final-score {
    font-size: 25px;
    font-weight: bold;
    color: gold;
}

#initials {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;

}

#submit {
    background-color: red;
    font-size: 17px;
    border: none;
    width: 80px;
    margin-top: 10px;
    color: whitesmoke;
    height: 30px;
    border-radius: 4px;
}

#submit:hover {
    cursor: pointer;
    box-shadow: 0 0 12px rgb(202, 52, 52);
    margin-right: 5px;

}

/*highscores*/

#high-score-wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#highscores {
    color: whitesmoke;
    list-style: none;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px;
    line-height: 2rem;
}


#high {
    background-color: gold;
    width: 280px;
    text-align: center;
    height: 40px;
    border-radius: 4px;
    color: rgb(22, 21, 21);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    
}

#back {
    background-color: red;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    
}

#back:hover {
    cursor: pointer;
    box-shadow: 0 0 12px rgb(202, 52, 52);
    margin-right: 5px;
}

#clear {
    background-color: red;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
}

#clear:hover {
    cursor: pointer;
    box-shadow: 0 0 12px rgb(202, 52, 52);
    margin-right: 5px;
}





